[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==2.12.4"
wagtail-autocomplete = "==0.6.3"
faker = "==8.2.0"
factory-boy = "==3.2.0"
wagtail-factories = "==2.0.1"
gunicorn = "==19.9.0"
django-el-pagination = "==3.3.0"
wagtailmenus = "==3.0.2"
psycopg2-binary = "==2.8.3"
django-paypal = "==1.0.0"
django-storages = "==1.9.1"
django-extensions = "==2.2.8"
ipython = "==7.22.0"
boto3 = "==1.17.53"
opencv-python-headless = "==4.1.0.25"
pylint = "==2.3.1"
flake8 = "==3.8.4"
pylint-django = "==2.4.3"
wagtail-metadata = "==2.0.1"
sentry-sdk = "==1.0.0"
django-widget-tweaks = "==1.4.8"
edtf = "==4.0.1"
wagtail-modeltranslation = "==0.10.17"
pdf2image = "==1.14.0"
django-debug-toolbar = "==3.2.1"

[dev-packages]

[requires]
python_version = "3.7"
