#biography__title {
    text-align: center;
    margin-bottom: 0.75em;
}

$bio_col_padding: 50px;
.biography__col--left {
    @include media-breakpoint-up(md) {
        & {
            border-right: solid 2px $dark-brown;
            text-align: right;
            padding-right: $bio_col_padding;
        }
    }
}

.biography__col--right {
    @include media-breakpoint-up(md) {
        & {
            border-left: solid 2px $dark-brown;
            padding-left: $bio_col_padding;
        }
    }
}

$bio-header-padding: 0.5em;
.biography__header--left {
    font-family: $font-family-serif;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    @include media-breakpoint-up(md) {
        & {
            padding-bottom: $bio-header-padding;
            text-align: right;
        }
    }
}

.biography__header--right {
    font-family: $font-family-sans-serif;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    @include media-breakpoint-up(md) {
        & {
            padding-bottom: $bio-header-padding;
            text-align: left;
        }
    }
}

// Bio Images
.block-caption_image {
    padding-top: 6px;
}

.biography__col--left .biography__img-container {
    margin: 0 auto;
    @include media-breakpoint-up(md) {
        & {
            margin: 0 0 0 auto;
        }
    }
}

.biography__col--right .biography__img-container {
    margin: 0 auto;
    @include media-breakpoint-up(md) {
        & {
            margin: 0 auto 0 0;
        }
    }
}

.biography__img-container img {
    width: 100%;
}

.biography__img-caption {
    margin: 0.75em 0 1.5em;
    text-align: center;
    font-size: 0.9em;
}

// Block Quote
.biography__block-quote {
    margin: 2em 0;
    @include media-breakpoint-up(md) {
        & {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}


.biography__block-quote--quote {
    font-family: $font-family-serif;
    font-size: 1.8em;
    letter-spacing: 0;
    text-align: center;
}

.biography__block-quote--caption {
    text-align: center;
}

.block-rich_text {
    @include media-breakpoint-up(md) {
        & {
            padding-bottom: 26px;
        }
    }
}
