.composition-search {
    background-color: #baaa8b;
    padding: 1em 0;
}

.composition-search .errorlist {
    margin-bottom: 0;
}

.composition-search__form-row--first-row {
    padding-top: 1em;
}

.composition-search__form-label {
    @extend .h2;
}

.composition-search__form-label--sort {
    @extend .composition-search__form-label;
    align-self: center;
    margin-bottom: 0;
    margin-right: 0.5em;
}

.composition-search__form-button {
    color: #FFFFFF;
    background-color: $dark-brown;
}

.composition-search__btn-bar {
    margin-right: 2em;
}

.composition-search__record-count {
    margin-top: 1em;
    display: block;
}

.composition-search__side-bar {
    background-color: $dark-brown;
    width: calc(100% - 30px);
    position: absolute;
    padding: 1em;
    z-index: 1000;
    border-radius: 4px;
}

.composition-search__fieldset {
    margin-bottom: 1em;
    &:last-of-type {
        margin-bottom: 0px;
    }
}

.composition-search__fieldset-checkbox-label {
    display: block;
    margin-bottom: 0.5em !important;
    text-transform: capitalize;

    border-color: #FFFFFF;
    color: $dark-brown;
    background-color: #FFFFFF;
    &.active {
        color: #FFFFFF;
        background-color: $dark-brown;
    }

    &:last-of-type {
        margin-bottom: 0px !important;
    }
}

.composition-search__fieldset-legend {
    @extend .composition-search__form-label;
    color: #FFFFFF;
}

@include media-breakpoint-up(md) {
    #composition-search-col {
        min-height: 700px;
    }
}

.composition-search-table {
    margin-top: 1em;
    @extend .table-borderless;
}

.composition-search-table .composition-search-table__cell + .composition-search-table__cell {
    border-left: solid 2px change-color($dark-brown, $alpha: 0.5);
}

.composition-search-table__genre-cell {
    white-space: nowrap;
}
