.composition-attr {
    margin-bottom: 1.5em;
}

.composition-link {
    color: #FFFFFF;
    background-color: $dark-brown;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.composition__nav-link {
    text-decoration: none;
}

