.composition-search {
    background-color: #baaa8b;
    padding: 1em 0;
}

.composition-search .errorlist {
    margin-bottom: 0;
}

.composition-search__form-label {
    @extend .h2;
}

.composition-search__form-button {
    color: #FFFFFF;
    background-color: $dark-brown;
    margin-top: 2em;
}

.composition-search__form-button--reset {
    margin-top: 2em;
}

.composition-search-table {
    margin-top: 1em;
    @extend .table-borderless;
}

.composition-search-table .composition-search-table__cell + .composition-search-table__cell {
    border-left: solid 2px change-color($dark-brown, $alpha: 0.5);
}

.composition-search-table__genre-cell {
    white-space: nowrap;
}
