#home-page__cover-image {
    background-size: cover;
    @include media-breakpoint-up(sm) {
        background-size: contain;
    }
    background-repeat: no-repeat;
    background-position: center center;
}
