.score-page__row {
    margin-bottom: 2em;
}

.score-page__label {
    margin-bottom: 0px;
}

.score-page__description-item {
    margin-bottom: 1em;
}

.score-page__price-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.score-page__description-row {
    margin-top: 1em;
    border-top: solid $dark-brown 1px;
    padding-top: 1em;
}

.score-page__price {
    font-size: 3em;
}

.score-cover-image {
    width: 100%;
}

.preview-score__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.preview-score__image {
    width: 49.75%;
}

.carousel-item {
    background-color: $dark-brown;
}
