.score-cover-image {
    width: 100%;
}

.preview-score__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.preview-score__image {
    width: 49.75%;
}

.carousel-item {
    background-color: #000000;
}
