{% load i18n %}
{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'build/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block nav %}
            <header class="container">
                <div class="row">
                    <div class="col-md-6 site-title">
                        {% include 'logo.html' %}
                        <div class="site-subtitle">
                            {% trans "The Life and Works of Fernande Breilh-Decruck" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% include 'nav.html' %}
                    </div>
                </div>
            </header>
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            <footer class="footer">
                <div class="footer__icon">
                    <i class="fas fa-envelope"></i> 
                </div>
                <div class="footer__icon">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="footer__icon">
                    <i class="fab fa-linkedin-in"></i>
                </div>
                <div class="footer__icon">
                    <i class="fab fa-youtube"></i> 
                </div>
            </footer>
        {% endblock %}
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'build/bundle.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
