.footer {
    background-color: $dark-brown;
    color: $light-brown;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 0.5em 0;
    border-top: solid 8px #FFFFFF;

    position: absolute;
    width: 100%;
    bottom: 0;
    height: 64px;
}

.footer__icon {
    background-color: rgba(256, 256, 256, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 1em;
    &:last-of-type {
        margin-right: 0;
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: $dark-brown;
}
