.logo {
    fill: #FFFFFF;
    max-width: 816px;
}

.logo-container {
    width: 100%;
}

// the logo width needs to be:
// 0 to md: 100% - the mobile nav
// md to xl: some max width, center alligned
// lg+: 100%
.site-title-logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 270px;
    margin: 0 auto 0 0;
    @include media-breakpoint-up(md) {
        max-width: 400px;
    }

    @include media-breakpoint-up(xl) {
        max-width: unset;
        margin: 0 auto;
        width: 100%;
    }
}

.site-title {
    display: flex;
    flex-flow: row nowrap;
}

.site-subtitle {
    @extend .d-none;
    @extend .d-xl-block;
    font-family: $font-family-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 11px;
    border-top: solid 1px $dark-brown;
    margin: 0 3em;
}
