.header {
    @include media-breakpoint-up(xl) {
        margin-bottom: 3em;
    }
}

li.nav-item {
    text-transform: uppercase;
    @include media-breakpoint-up(lg) {
        margin-right: 1em;
        padding-right: 1em;
        border-right: solid 1px #FFFFFF;

        &:last-of-type, &:nth-last-of-type(2) {
            margin-right: 0em;
            padding-right: 0em;
            border-right: none;
        }
    }
}

.language-picker {
    width: fit-content;
    margin-left: auto;
    a {
        text-decoration: none;
    }
}

.site-title-mobile-nav {
    @extend .d-md-none;
    width: 50px;
    margin-left: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

// Override Bootstrap
.navbar {
    padding-left: 0px;
    padding-right: 0px;
}

a.nav-link {
    color: $dark-brown !important;
    text-decoration: none;
}

.dropdown-menu {
    background-color: unset;
    border: none;
}

a.navbar-brand {
    text-decoration: none;
    font-size: 1em;
    @include media-breakpoint-up(lg) {
        width: 33%;
        margin-right: auto;
    }
    @include media-breakpoint-up(xl) {
        width: 45%;
    }
}
