{% extends 'base.html' %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}
<main>
<div class="container">
    {% if prev_url or next_url %}
    <nav id="composition__nav" class="row">
        <div class="col-4 d-flex">
            {% if prev_url %}
            <div class="mr-auto">
                <a href="{{ prev_url }}" id="composition__nav-link--prev" class="composition__nav-link">&lt; {% trans 'PREVIOUS' %}</a>
            </div>
            {% endif %}
        </div>
        <div class="col-4 d-flex">
            <div class="ml-auto mr-auto">
                <a href="{{ page.get_parent.url }}?{{ comp_search_qs }}" id="composition__nav-link--return" class="composition__nav-link">{% trans 'RETURN TO RESULTS' %}</a>
            </div>
        </div>
        <div class="col-4 d-flex">
            {% if next_url %}
            <div class="ml-auto">
                <a href="{{ next_url }}" id="composition__nav-link--next" class="composition__nav-link">{% trans 'NEXT' %} &gt;</a>
            </div>
            {% endif %}
        </div>
    </nav>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ page.composition_title | richtext }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if page.genre.all %}
            <div class="composition-attr">
                <h2>{% trans "Genre" %}</h2>
                {% for g in page.genre.all %}
                <div>{{ g }}</div>
                {% endfor %}
            </div>
            {% endif %}

            {% if page.date.first %}
            <div class="composition-attr">
                <h2>{% trans "Date" %}</h2>
                {{ page.date.first.nat_lang_year }}
            </div>
            {% endif %}

            {% if page.location %}
            <div class="composition-attr">
                <h2>{% trans "Location" %}</h2>
                {{ page.location | richtext }}
            </div>
            {% endif %}

            {% if page.instrumentation.all %}
            <div class="composition-attr">
                <h2>{% trans "Instrumentation" %}</h2>
                {% for i in page.instrumentation.all %}
                    {{ i }},
                    {% if forloop.last %}
                    {{ i }}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if page.orchestral_instrumentation %}
            <div class="composition-attr">
                <h2>{% trans "Orchestral Instrumentation" %}</h2>
                {{ page.orchestral_instrumentation | richtext }}
            </div>
            {% endif %}

            {% if page.duration %}
            <div class="composition-attr">
                <h2>{% trans "Duration" %}</h2>
                {{ page.duration }}
            </div>
            {% endif %}

            {% if page.manuscript_status %}
            <div class="composition-attr">
                <h2>{% trans "Manuscript Status" %}</h2>
                {{ page.manuscript_status | richtext }}
            </div>
            {% endif %}

            {% if page.collaborator %}
            <div class="composition-attr">
                <h2>{% trans "Collaborators" %}</h2>
                {{ page.collaborator | richtext }}
            </div>
            {% endif %}

            {% if page.text_source %}
            <div class="composition-attr">
                <h2>{% trans "Text Source" %}</h2>
                {{ page.text_source | richtext }}
            </div>
            {% endif %}

            {% if page.dedicatee %}
            <div class="composition-attr">
                <h2>{% trans "Dedicatee" %}</h2>
                {{ page.dedicatee | richtext }}
            </div>
            {% endif %}
        </div>
        <div class="col-md-8">
            {% if page.description %}
            <h2>{% trans "Description" %}</h2>
            {% include_block page.description%}
            {% endif %}

            {% if page.recording %}
            <div class="composition-attr">
                <h2>{% trans "Recording" %}</h2>
                {% include_block page.recording %}
            </div>
            {% endif %}
        </div>
    </div>
    {% if page.preview_score_images.all %}
    <div class="row">
        <div class="col-12">
            <div id="carouselScorePreview" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false" data-ride="false">
                <div class="carousel-inner">
                    {% for img in page.preview_score_images.all %}
                        {% cycle True False as new_slide silent %}
                        {% if new_slide %}
                        <div class="carousel-item{% if forloop.first %} active{% endif %}">
                            <div class="preview-score__item">
                            {% endif %}
                                <img class="preview-score__image" src="{{ img.preview_score_image.url }}">
                            {% if not new_slide or forloop.last %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselScorePreview" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselScorePreview" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</main>
{% endblock %}

