{% extends 'base.html' %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}
<main>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        {% if items %}
        <div class="col-md-8">
            <table id="shopping-cart-table" class="table">
                <thead>
                    <tr>
                        <th scope="col">{% trans 'Item'%}</th>
                        <th scope="col">{% trans 'Price'%}</th>
                        <th scope="col">{% trans 'Action'%}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for score in items %}
                    <tr>
                        <td><a href={{ score.url }}>{{ score.title }}</a></td>
                        <td>${{ score.price }}</td>
                        <td>
                            <form action="{{ page.url }}remove/{{ score.pk }}/" method="post">
                                {% csrf_token %}
                                <input type="submit" id="score-page__atc-button" class="btn btn-sm btn-outline-dark" value="{% trans 'Remove from cart' %}"></input>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div id="shopping-cart-totals">
                <div class="shopping-cart-total">${{ total }}</div>
                <form action="" method="post" id="shopping-cart__form">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-dark shopping-cart__button" value="{% trans 'Confirm Order' %}"></input>
                </form>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p>{% trans "There are no items in your shopping cart" %}</p>
        </div>
        {% endif %}
    </div>
</div>
</main>
{% endblock %}
